<div class="container contentBox">
  <div class="row">
    <div class="col">
      <div class="formBox">
        <form [formGroup]="addForm">
          <div class="form-group">
            <label for="name">Site name</label>
            <div [ngClass]="(addForm.controls['name'].hasError('required') && addForm.controls['name'].touched) ? 'hasError' : '' ||
             addForm.controls['name'].valid ? 'validField' : ''">
              <input type="text"
                     id="name"
                     formControlName="name"
                     class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="login">Login</label>
            <div [ngClass]="(addForm.controls['login'].hasError('required') && addForm.controls['login'].touched) ? 'hasError' : '' ||
             addForm.controls['name'].valid ? 'validField' : ''">
              <input type="text"
                     id="login"
                     formControlName="login"
                     class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <div
              [ngClass]="(addForm.controls['password'].touched && addForm.controls['password'].hasError('required')) || addForm.controls['password'].valid ? 'validField' : ''">
              <div class="input-group group-append">
              <input [type]="isVisible ? 'text' : 'password'"
                     id="password"
                     formControlName="password"
                     class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text"
                          (click)="isVisible = !isVisible">
                      <i class="fa fa-eye" *ngIf="!isVisible"></i>
                      <i class="fa fa-eye-slash" *ngIf="isVisible"></i>
                    </span>
                </div>
              </div>
              <small class="form-text error-validation"
                     *ngIf="addForm.controls['password'].hasError('required') && addForm.controls['password'].touched">
                Пожалуйста, введите пароль
              </small>
            </div>
          </div>
          <div class="btn-block d-flex justify-content-end">
            <button
              type="submit"
              class="btn btn-primary"
              (click)="add()"
              [disabled]="!addForm.valid"
            >Save
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
