@font-face {
  font-family: OSBold;
  src: url('/assets/fonts/OpenSans-SemiBold/OpenSans-SemiBold.eot');
  src: local(""), url('/assets/fonts/OpenSans-SemiBold/OpenSans-SemiBold.woff') format('woff'), url('/assets/fonts/OpenSans-SemiBold/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: RR;
  src: url('/assets/fonts/Roboto-Regular/Roboto-Regular.eot');
  src: local(""), url('/assets/fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'), url('/assets/fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
main {
  padding: 30px 15px;
}
.formBox {
  max-width: 350px;
  margin: 0 auto;
}
