@font-face {
  font-family: OSBold;
  src: url('/assets/fonts/OpenSans-SemiBold/OpenSans-SemiBold.eot');
  src: local(""), url('/assets/fonts/OpenSans-SemiBold/OpenSans-SemiBold.woff') format('woff'), url('/assets/fonts/OpenSans-SemiBold/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: RR;
  src: url('/assets/fonts/Roboto-Regular/Roboto-Regular.eot');
  src: local(""), url('/assets/fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'), url('/assets/fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
header {
  height: 60px;
  width: 100%;
  background: #848484;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
header h1 {
  font-size: 12px;
  color: #fff;
  font-family: OSBold, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin: 0;
}
header h3 {
  font-size: 10px;
  color: #fff;
  font-family: OSBold, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  margin: 0;
}
header .logout {
  color: #fff;
  margin-left: 25px;
  padding: 10px;
  cursor: pointer;
}
header .logout:hover {
  color: #39869e;
}
