<header>
    <h1>Password manager</h1>

    <div class="d-flex align-items-center">
        <h3 *ngIf="user">Hello, {{ user.name }}</h3>
        <div class="btn-group btn-group-toggle" *ngIf="!user">
            <a routerLink="/login" class="btn btn-primary">Login</a>
            <a routerLink="/register" class="btn btn-primary">Register</a>
        </div>
        <div class="btn logout" (click)="logOut()">
            <i class="fas fa-sign-out-alt"></i>
        </div>
    </div>
</header>
