@import "../../../assets/styles/variables";

header {
  height: 60px;
  width: 100%;
  background: @dark-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;

  h1 {
    font-size: 12px;
    color: @white;
    font-family: @OSSB;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
    margin: 0;
  }

  h3 {
    font-size: 10px;
    color: @white;
    font-family: @OSSB;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .1);
    margin: 0;
  }

  .logout {
    color: @white;
    margin-left: 25px;
    padding: 10px;
    cursor: pointer;

    &:hover {
      color: @accent;
    }
  }
}
