<div class="container contentBox">
    <div class="row">
        <div class="col">
            <div class="formBox">
                <form [formGroup]="registerForm" (submit)="register()">
                    <div class="form-group">
                        <label for="email">Name</label>
                        <div [ngClass]="((registerForm.controls['name'].hasError('required') && registerForm.controls['name'].touched)) ? 'hasError' : ''
            || registerForm.controls['name'].valid ? 'validField' : ''">
                            <input type="text"
                                   id="name"
                                   formControlName="name"
                                   class="form-control">
                            <small class="form-text error-validation"
                                   *ngIf="registerForm.controls['name'].hasError('required') && registerForm.controls['name'].touched">
                                Please, enter a name
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <div [ngClass]="((registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched) || (registerForm.controls['email'].hasError('pattern') && registerForm.controls['email'].touched) || (registerForm.controls['email'].hasError('forbiddenEmails') && registerForm.controls['email'].touched) ) ? 'hasError' : '' || registerForm.controls['email'].valid ? 'validField' : ''">
                            <input type="text"
                                   id="email"
                                   formControlName="email"
                                   class="form-control">
                            <small class="form-text error-validation"
                                   *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched">
                                Please, enter a email
                            </small>
                            <small class="form-text error-validation"
                                   *ngIf="registerForm.controls['email'].hasError('pattern') && registerForm.controls['email'].touched">
                                Email not correct
                            </small>
                            <small class="form-text error-validation"
                                   *ngIf="registerForm.controls['email'].hasError('forbiddenEmails') && registerForm.controls['email'].touched">
                                This email one is already in use
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <div [ngClass]="(registerForm.controls['password'].touched && (registerForm.controls['password'].hasError('required') ||
              registerForm.controls['password'].hasError('pattern'))) ? 'hasError' : '' ||
              registerForm.controls['password'].valid ? 'validField' : ''">
                            <div class="input-group group-append">
                                <input [type]="isVisible ? 'text' : 'password'"
                                       id="password"
                                       name="password"
                                       formControlName="password"
                                       class="form-control"
                                       minlength="6"
                                       required>
                                <div class="input-group-append">
                                    <span class="input-group-text"
                                          (click)="isVisible = !isVisible">
                                      <i class="fa fa-eye" *ngIf="!isVisible"></i>
                                      <i class="fa fa-eye-slash" *ngIf="isVisible"></i>
                                    </span>
                                </div>
                            </div>
                            <small class="form-text error-validation"
                                   *ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls['password'].touched">
                                Please enter a password
                            </small>
                            <small class="form-text error-validation"
                                   *ngIf="registerForm.controls['password'].hasError('pattern') && registerForm.controls['password'].touched">
                                Password must be between 6 and 32 characters, include at least 1 number, one small and
                                one large the letters
                            </small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password_confirm">Confirm password</label>
                        <div [ngClass]="((registerForm.controls['passwordConfirm'].hasError('required') && registerForm.controls['passwordConfirm'].touched) ||
            (registerForm.controls['passwordConfirm'].hasError('pattern') && registerForm.controls['passwordConfirm'].touched) ||
             registerForm.value['password'] != registerForm.value['passwordConfirm']) ? 'hasError' : '' || registerForm.controls['passwordConfirm'].valid ? 'validField' : ''">
                            <div class="input-group group-append">
                                <input [type]="isConfirmVisible ? 'text' : 'password'"
                                       id="password_confirm"
                                       name="confirm"
                                       formControlName="passwordConfirm"
                                       class="form-control"
                                       required>
                                <div class="input-group-append">
                                    <span class="input-group-text"
                                          (click)="isConfirmVisible = !isConfirmVisible">
                                      <i class="fa fa-eye" *ngIf="!isConfirmVisible"></i>
                                      <i class="fa fa-eye-slash" *ngIf="isConfirmVisible"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <small class="form-text error-validation"
                               *ngIf="registerForm.controls['passwordConfirm'].hasError('required') && registerForm.controls['passwordConfirm'].touched">
                            This field is not empty
                        </small>
                        <small class="form-text error-validation"
                               *ngIf="registerForm.controls['passwordConfirm'].hasError('pattern') && registerForm.controls['passwordConfirm'].touched">
                            Password must be between 6 and 32 characters, include at least 1 number, one small and one
                            large the
                            letters
                        </small>
                        <small class="form-text error-validation"
                               *ngIf="registerForm.controls['passwordConfirm'].touched && registerForm.controls['password'].touched && registerForm.value['password'] != registerForm.value['passwordConfirm']">
                            Passwords do not match
                        </small>
                    </div>
                    <div class="btn-block d-flex justify-content-end">
                        <button
                                class="btn btn-primary"
                                type="submit"
                                [disabled]="!registerForm.valid"
                        >Register
                        </button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
