<div class="container contentBox">
  <div class="row" *ngIf="message.text">
    <div class="col">
      <div class="alert alert-{{message.type}}">
        {{ message.text }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="formBox">
        <form [formGroup]="loginForm" (submit)="login()">
          <div class="form-group">
            <label for="email">Email</label>
            <div [ngClass]="((loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched) ||
             (loginForm.controls['email'].hasError('pattern') && loginForm.controls['email'].touched)) ? 'hasError' : '' ||
             loginForm.controls['email'].valid ? 'validField' : ''">
              <input type="text"
                     id="email"
                     formControlName="email"
                     class="form-control">
              <small class="form-text error-validation"
                     *ngIf="loginForm.controls['email'].hasError('required')
                     && loginForm.controls['email'].touched">
                Please, enter a email
              </small>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <div
              [ngClass]="(loginForm.controls['password'].touched && loginForm.controls['password'].hasError('required')) ||
              loginForm.controls['password'].valid ? 'validField' : ''">
              <div class="input-group group-append">
                <input [type]="isVisible ? 'text' : 'password'"
                       id="password"
                       formControlName="password"
                       class="form-control">
                <div class="input-group-append">
                    <span class="input-group-text"
                          (click)="isVisible = !isVisible">
                      <i class="fa fa-eye" *ngIf="!isVisible"></i>
                      <i class="fa fa-eye-slash" *ngIf="isVisible"></i>
                    </span>
                </div>
              </div>
              <small class="form-text error-validation"
                     *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">
                Please enter a password
              </small>
              <small class="form-text error-validation"
                     *ngIf="loginForm.controls['password'].hasError('pattern') && loginForm.controls['password'].touched">
                Password must be between 6 and 32 characters, include at least 1 number, one small and one large the
                letters
              </small>
            </div>
          </div>
          <div class="btn-block d-flex justify-content-end">
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="!loginForm.valid"
            >Login
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
