<div class="container contentBox">
    <div class="row">
        <div class="col">
            <div class="formBox" *ngIf="isLoaded">
                <form>
                    <div class="form-group">
                        <label for="name">Site name</label>
                        <div>
                            <input type="text"
                                   id="name"
                                   name="name"
                                   [(ngModel)]="password.name"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="login">Login</label>
                        <div>
                            <input type="text"
                                   id="login"
                                   name="login"
                                   [(ngModel)]="password.login"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <div class="input-group group-append">
                            <input [type]="isVisible ? 'text' : 'password'"
                                   id="password"
                                   name="pass"
                                   [(ngModel)]="password.pass"
                                   class="form-control">
                            <div class="input-group-append">
                                <span class="input-group-text"
                                      (click)="isVisible = !isVisible">
                                  <i class="fa fa-eye" *ngIf="!isVisible"></i>
                                  <i class="fa fa-eye-slash" *ngIf="isVisible"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="btn-block d-flex justify-content-end">
                        <button
                                class="btn-primary btn"
                                type="submit"
                                (click)="edit()"
                        >Save
                        </button>
                    </div>
                </form>
            </div>
            <div *ngIf="!isLoaded">
                Loading ...
            </div>
        </div>
    </div>
</div>
