@import "assets/styles/variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  background: @bg;
  font-size: 16px;
  color: #333;
  font-family: @RR;
}

.contentBox {
  background: @white;
  padding: 30px;
  border-radius: 2px;
}

h3 {
  font-size: 16px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-family: @OSSB;
}

.table {
  thead {
    th {
      text-transform: uppercase;
      font-size: 11px;
      font-weight: normal;
    }
  }

  tbody {
    th {
      font-size: 14px;
    }
    td {
      font-size: 14px;
      color: @gray;
      padding: 5px 10px;
      vertical-align: middle;

      i {
        color: @accent;
      }

      .remove {
        color: @red;
      }

      .form-control {
        background: transparent;
        padding: 0;
        border: none;
        height: 30px;
      }
    }
  }
}

p {
  font-size: 14px;
  margin-bottom: 15px;
}

.formBox {
  max-width: 350px;
  margin: 0 auto;
}

.form-group {
  label {
    font-size: 14px;
    margin-bottom: 5px;
    color: @gray;
  }

  .hasError {
    .form-control {
      border-color: @red;
    }
  }

  .error-validation {
    font-size: 12px;
    color: @red;
  }
}

.btn {
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 2px;
}
