@font-face {
  font-family: OSBold;
  src: url('/assets/fonts/OpenSans-SemiBold/OpenSans-SemiBold.eot');
  src: local(""), url('/assets/fonts/OpenSans-SemiBold/OpenSans-SemiBold.woff') format('woff'), url('/assets/fonts/OpenSans-SemiBold/OpenSans-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: RR;
  src: url('/assets/fonts/Roboto-Regular/Roboto-Regular.eot');
  src: local(""), url('/assets/fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'), url('/assets/fonts/Roboto-Regular/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #b2b2b2;
  font-size: 16px;
  color: #333;
  font-family: RR, sans-serif;
}
.contentBox {
  background: #fff;
  padding: 30px;
  border-radius: 2px;
}
h3 {
  font-size: 16px;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 25px;
  font-family: OSBold, sans-serif;
}
.table thead th {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: normal;
}
.table tbody th {
  font-size: 14px;
}
.table tbody td {
  font-size: 14px;
  color: #ababab;
  padding: 5px 10px;
  vertical-align: middle;
}
.table tbody td i {
  color: #39869e;
}
.table tbody td .remove {
  color: #d00b0b;
}
.table tbody td .form-control {
  background: transparent;
  padding: 0;
  border: none;
  height: 30px;
}
p {
  font-size: 14px;
  margin-bottom: 15px;
}
.formBox {
  max-width: 350px;
  margin: 0 auto;
}
.form-group label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #ababab;
}
.form-group .hasError .form-control {
  border-color: #d00b0b;
}
.form-group .error-validation {
  font-size: 12px;
  color: #d00b0b;
}
.btn {
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 2px;
}
/*# sourceMappingURL=styles.css.map */