<div class="container contentBox" *ngIf="!user">
  <div class="row">
    <div class="col">
      <h3>LOG IN TO THE app!</h3>
    </div>
  </div>
</div>
<div class="container contentBox" *ngIf="user">
  <div class="row" *ngIf="passwords.length == 0">
    <div class="col">
      <p>Add your first password!</p>
    </div>
  </div>
  <div class="row" *ngIf="passwords.length > 0">
    <div class="col">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Website</th>
          <th scope="col">Login</th>
          <th scope="col">Password</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of currentPass; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ item.name }}</td>
          <td>{{ item.login }}</td>
          <td>
            <input [type]="isVisible[i] ? 'text' : 'password'"
              class="form-control transparent"
              ngModel="{{item.pass}}" readonly>
          <td><i class="fa fa-eye"
                 (click)="isVisible[i] = !isVisible[i]"></i></td>
          <td>
            <i class="fa fa-pen"
               [routerLink]="['/edit-password', item.id]"></i>
          </td>
          <td>
            <i class="fa fa-trash remove"
               (click)="onRemove(item.id)"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="btn-block d-flex justify-content-end">
        <a class="btn btn-primary"
           routerLink="/add">Add password</a>
      </div>
    </div>
  </div>
</div>
